@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}


section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    max-width: 55vw;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
}

.save1
{
    align-self: flex-start;
}

.btn_2
{
    padding: 15px;
    margin: 5px 10px;
}



/* #img-user
{
    margin: 10px 0px;
} */

#img-user img
{
    max-width: 480px;
    max-height: 270px;
    width:100%;
    height: 100%;
    object-fit:contain;
}


.box
{
    width: 200px;
    margin: 5px  0px;
    gap: 5px;  
    padding: 10px;
    box-shadow: 0px 0px 5px #0005;
}

.range-bar
{
    width: 180px;
    height: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter
{
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content:space-between;
}

.btn_1
{
    border: none;
    box-shadow: 0px 0px 5px #0005;
    background-color: white;
    padding: 10px;
    margin-right:50px;
    margin: 5px 20px;
}

#img-def
{
    align-self:flex-start;
}

.btn_2
{
    border: none;
    box-shadow: 0px 0px 5px #0005;
    background-color: white;
    padding: 10px;
    margin-right:50px;
    margin: 5px 20px;
}

.reset
{
    background-color: rgba(128, 128, 128, 0.652);
}

.save
{
    background-color: dodgerblue;
}
